:root {
  color-scheme: light;
  --clr-opacity: rgba(120 120 120/ 25%);
  --clr-opacity-hover: rgba(120 120 120/ 30%);
  padding: 0;
  margin: 0;
}

/* @media (prefers-color-scheme: light) {
    :root {
      color-scheme: light;
    }
  } */
* {
  letter-spacing: 0.025rem;
  padding: 0;
  margin: 0;
  font-family: Clash Grotesk, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  border-radius: 0.5rem;
  cursor: pointer;
}

a:focus {
  border: salmon;
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

.button {
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}

input {
  font-size: 1rem;
  padding: 1rem;
  background: none;
  border: 1px solid rgba(120 120 120/ 70%);
  border-radius: 0.5rem;
  padding-left: 1rem;
}

input:focus {
  outline: none;
}

table {
  font-size: 0.6rem;
}

td {
  padding: 0.5;
  transition: 0.3s;
}

td:hover {
  background: #4a4a4a;
}

th {
  font-weight: 600;
  background: #3a3a3a;
}

tr {
  background: #1a1a1a;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

tr:hover {
  background: #2a2a2a;
}

.white {
  background-color: white;
  color: darkslateblue;
}

.red {
  background: crimson;
  color: white;
}

.red:active {
  opacity: 0.75;
}

.blue {
  color: #3131ab;
  font-weight: 600;
}

.disabled {
  color: #6a6a6a;
}

.disabled-btn {
  background: #2a2a2a;
  color: #4a4a4a;
}

.fixed-length {
  width: 85svw;
}

.opacity {
  transition: 0.25s;
}

.opacity:focus {
  opacity: 0.5;
}

@media (width>576px) {
  .fixed-length {
    width: 20rem;
  }
  table {
    font-size: 1rem;
  }
  td {
    padding: 0.5rem;
  }
}
